

body{
	background-image: url(../img/hw4_background.jpg);
	background-position: 0 -38px;
	font-family: Tahoma;
	font-size: 12px;
}

.general{
	width: 1000px;
	height: 985px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 3px 7px 0 #000000; 
}

/*header*/

.logo{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	height: 165px;
}

.header{
	position: relative;
}

.header p{
	position: absolute;
	top:10px;
	right: 30px;
	width: 125px;
	font-family: Tahoma;
	font-size: 12px;
	line-height: 150%;
	color: #128aa7;
}

.header p span{
	font-weight: bold;
}

.countries{
	position: absolute;
	top: 110px;
	right: 30px;
}


.countries div{
	float: left;
	margin-right: 10px;
}

.countries .margin_reset{
	margin-right: 0;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

/*img*/

.image{
	height: 237px;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
}

/*menu*/

.menu:after{
	content: "";
	clear: both;
	display: block;
}

.menu{
	background-color: #333333;
	height: 30px;
	border-bottom: 1px solid #000000;
	box-shadow: 0 2px 17px 1px #000000;
}

.menu li{
	float: left;
	position: relative;
}

.menu_padding{
	padding-left: 65px;
}

.menu li a{
	display: block;
	text-decoration: none;
	height: 28px;
	padding-right: 65px;
	padding-top: 4px;
	outline:0;
	color: white;
	font-size: 14px;
	font-family: Tahoma;
}


.drop{
	background-image: url(../img/drop.png);
	background-repeat: no-repeat;
	background-position: 90px 12px;
}

.drop1{
	background-image: url(../img/drop.png);
	background-repeat: no-repeat;
	background-position: 50px 12px;
}

.drop2{
	background-image: url(../img/drop.png);
	background-repeat: no-repeat;
	background-position: 75px 12px;
}

.submenu {
	display: none;
	position: absolute;
	background-color: #303030;
	top: 31px;
	box-shadow: 0 4px 17px 3px #000000;
}

.menu li:hover .submenu{
	display: block;
}


.submenu>li>a{
	display: block;
	height: 24px; 
	padding-left: 10px;
	text-decoration: none;
	outline:0;
	color: white;
	font-size: 14px;
	font-family: Tahoma;
}

/* content */

h2{
	text-align: center;
	font-family: Tahoma;
	font-size: 18px;
}

.container3{
	width: 100%;
	float: left;
	overflow: hidden;
	background-color: #edeef0;
}

.container2{
	width: 100%;
	float: left;
	background-color: #edeef0;
	position: relative;
	right: 30%;
}

.container1{
	width: 100%;
	float: left;
	background-color: #edeef0;
	position: relative;
	right: 40%;
}

.left{
	width: 30%;
	float: left;
	position: relative;
	left: 70%;
	overflow: hidden;
}

.center{
	width: 40%;
	float: left;
	position: relative;
	left: 70%;
	overflow: hidden;
}

.right{
	width: 30%;
	float: left;
	position: relative;
	left: 70%;
	overflow: hidden;
}
/*background-color: #edeef0;
	padding: 5px 20px 10px 5px;*/
footer{
	margin: 10px auto;
	width: 250px;
	color: white;
	font-size: 12px;
}